<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/trangchu.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    <link href="~/css/kho.css" rel="stylesheet" />
    <link href="~/css/action.css" rel="stylesheet" />
    <link href="~/css/form.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/Icon/logo2.jpg" />
                </span>
                <div class="header-text">
                    <span class="name">STU</span>
                    <span class="profession">Warehouse</span>
                </div>
            </div>
        </header>
        <ul>
            <li>
                <a href="">
                    <i class="bx bx-search"></i>
                    <span class="nav-item">Tìm kiếm</span>
                </a>
            </li>
            <li>
                <a href="/TruongBPKho/Home/Trangchu">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="/TruongBPKho/Thongtincanhan/Thongtincanhan">
                    <i class='bx bxs-user'></i>
                    <span class="nav-item">Thông tin cá nhân</span>
                </a>
            </li>
            <li>
                <a href="/TruongBPKho/Duan/Duan">
                    <i class='bx bxs-calendar-alt'></i>
                    <span class="nav-item">Dự án</span>
                </a>
            </li>
            <li>
                <a href="/TruongBPKho/Home/Tongkho">
                    <i class='bx bxs-home-alt-2'></i>
                    <span class="nav-item">Kho</span>
                </a>
            </li>
            <li class="Yeucau">
                <a href="/TruongBPKho/Yeucau/Yeucau">
                    <i class='bx bxs-bar-chart-square'></i>
                    <span class="nav-item">Yêu cầu</span>
                </a>
                <span class="badge">
                    <span class="notification"></span>
                </span>
            </li>
            <li>
                <a href="/TruongBPKho/Yeucau/XacnhanNhanHang">
                    <i class='bx bxs-package'></i>
                    <span class="nav-item">Xác nhận nhận hàng</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="bodymenu">
        <ul class="menu">
            <li id="name">
                <i>@(Context.Session.GetString("TenNguoidung") ?? "Người dùng")</i>
            </li>
            <li id="chucvu">
                <i>@(Context.Session.GetString("Chucvu") ?? "Chức vụ")</i>
            </li>
            <li>
                <form id="logout-form" action="/home/Logout" method="post" style="display: inline;">
                    <button type="submit" class="logout-btn" style="background:none; border:none">
                        <i class='bx bx-log-out bx-flip-horizontal' style="font-size: 30px"></i>
                    </button>
                </form>
            </li>
        </ul>        
    </nav>
    <nav class="bodylayout">
        <div>
            @RenderBody()
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/layout.js"></script>
    <script>
        $(document).ready(function () {
            getThongbaoDatalayout();
        });
    </script>
    <script src="~/js/themyeucau.js"></script>
</body>
</html>
